<div class="container-fluid">
  <div class="row">
    <div class="col-sm p-0">
      <img src="//res.cloudinary.com/jacq/image/upload/c_fill,h_1262,w_3318/v1513304719/bible-job_d1owpp.jpg"
           class="img-fluid" alt="">
    </div>
  </div>
</div>
<div class="container p-5">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Sermons</h4>
          <ngx-datatable class="material"
                         [rows]="sermons"
                         [columnMode]="'force'"
                         [footerHeight]="50"
                         [limit]="20">
            <ngx-datatable-column [prop]="'speaker'"
                                  [name]="'Speaker'">
            </ngx-datatable-column>
            <ngx-datatable-column [prop]="'title'"
                                  [name]="'Title'">
            </ngx-datatable-column>
            <ngx-datatable-column [prop]="'sermon_date'"
                                  [name]="'Date'">
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date:'fullDate'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [prop]="'download_link'"
                                  [name]="'Download'">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <a href="{{getDownloadUrl(value)}}">Download</a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
