<form>
  <div class="panel-body">
    <div class="form-group">
      <label for="title">Sermon Title</label>
      <input class="form-control required" type="text" [(ngModel)]="title" name="title" placeholder="Is there not a cause?" />
    </div>
    <div class="form-group">
      <label for="Date">Sermon Date</label>
      <input class="form-control" type="date" [(ngModel)]="date" id="date" name="date" (blur)="checkDate()" />
      <p class="help-block">If datepicker is unavailable, please enter date in yyyy-mm-dd format. IE: 2015-05-31. The datepicker should be available
        in Google Chrome, Firefox and Safari.</p>
      <p class="help-block" id="dateError" style="color:red;">Enter date in 2015-10-31 (yyyy-mm-dd) format.</p>
    </div>
    <div class="form-group">
      <label for="speaker">Speaker</label>
      <input class="form-control" type="text" [(ngModel)]="speaker" name="speaker" placeholder="Pastor John Opferman" />
      <p class="help-block">Examples: Pastor John Opferman, Bro. Drake, etc.</p>
      <div id="email-check"></div>
    </div>
    <div class="form-group">
      <label for="mp3">Upload Sermon</label>
      <input class="form-control" type="file" accept=".mp3" [(ngModel)]="mp3" name="mp3" />
    </div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-success" >
      <span class="fa fa-sign-in-alt"> </span> Submit</button>
    <a class="btn btn-danger" href="#">
      <span class="fa fa-trash"> </span> Cancel
    </a>
  </div>
</form>
