<div class="container-fluid">
  <div class="row">
    <div class="col-sm p-0">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>
<div class="container p-5">
  <div class="row">
    <div class="col-md-3 col-xs">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Landmark Baptist Church</h4>
          <p>
            1228 Grand Avenue <br>
            Santa Rosa, CA 95404 <br><br>
            <i class="fa fa-phone mr-2" aria-hidden="true"></i> <a href="tel:7075753132">707.575.3132</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-xs">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Contact Us</h4>
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
                     class="form-control" 
                     [(ngModel)]="name"
                     name="name"
                     placeholder="Full Name Here"/> 
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email"
                     class="form-control" 
                     [(ngModel)]="email"
                     name="email"
                     placeholder="email@domain.com"/> 
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text"
                     class="form-control" 
                     [(ngModel)]="phone"
                     name="phone"
                     placeholder="707.123.4567"/> 
            </div>
            <div class="form-group">
              <label for="comments">Questions/Comments</label>
              <textarea class="form-control" [(ngModel)]="comments" name="comments" cols="60" rows="3"></textarea>
            </div>
            <input type="hidden" [(ngModel)]="spam" value="" name="spam"/>
            <button (click)="submitForm()">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>