<div class="container-fluid">
  <div class="row">
    <div class="col-sm p-0">
      <img src="//res.cloudinary.com/jacq/image/upload/c_fill,h_1262,w_3318/v1513304719/bible-job_d1owpp.jpg"
           class="img-fluid"alt="">
    </div>
  </div>
</div>
<div class="container p-5">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Article III — Articles of Faith</h4>
          <p>This Church holds the following statement of faith as being a summary of Christian doctrine whose authority consists only in its agreement with the Word of God.</p>
          <p>It is to be understood that the Articles of Faith are not to be amended.</p>
          <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">1. The Scriptures</h5>
              </div>
              <p class="mb-1">WE believe that the Holy Bible, consisting of the Old and New Testament Scriptures, was written by men divinely inspired and is a perfect treasure of heavenly instruction: that it has God for its Author, salvation for its end, and truth without any mixture of error for its matter; that it reveals the principles by which God will judge us and therefore is, and shall remain to the end of the world, the true center of Christian union and the supreme standard by which all human conduct, creeds, and opinions should be tried. It should be understood that no other translation is to be used in teaching or preaching than the King James authorized version 1611.</p>
              <small>II Timothy 3:16, 17; Isaiah 8:20; I Thessalonians 5:21</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">2. The True God</h5>
              </div>
              <p class="mb-1">We believe that there is one, and only one, living and true God, an infinite, intelligent Spirit whose name is JEHOVAH, the Maker and Supreme Ruler of Heaven and earth; that He is inexpressibly glorious in holiness and worthy of all possible honor, confidence, and love; that in the unity of the Godhead there are three persons—the Father, the Son, and the Holy Ghost—equal in every divine perfection and executing distinct but harmonious offices in the great work of redemption.</p>
              <small>John 4:24; Psalm 83:18; Exodus 15:11; Mark 12:30; Matthew 28:19; John 10:30; Ephesians 2:18</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">3. The Fall of Man</h5>
              </div>
              <p class="mb-1">We believe that man was created in holiness under the law of his Maker but by voluntary transgression fell from that holy and happy state, in consequence of which all mankind are now sinners, not by constraint but choice, being by nature utterly void of that holiness required by the law of God, positively inclined to evil, and therefore under just condemnation to eternal ruin without defense or excuse.</p>
              <small>Genesis 1:27; Genesis 1:31; Genesis 3:6-24; Isaiah 53:6; Ezekiel 18:19, 20; Romans 1:20; Romans 5:19</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">4. The Way of Salvation</h5>
              </div>
              <p class="mb-1">WE believe that the salvation of sinners is wholly of grace through the mediatorial offices of the Son of God who, by the appointment of the Father, freely took upon Him our nature; that being conceived by the Holy Spirit and born of the Virgin Mary, yet without sin, He honored the divine law by His personal obedience and by His death made a full atonement for our sins; that, having risen from the dead, He is now enthroned in Heaven and, uniting in His wonderful person the tenderest sympathies with divine perfections, He is in every way qualified to be a suitable, a compassionate and an all—sufficient Saviour.</p>
              <small>Ephesians 2:8; John 3:16; Philippians 2:16-17; Hebrews 7:25; Colossians 2:9; Hebrews 2:18; Isaiah 53:4, 5</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">5. Justification</h5>
              </div>
              <p class="mb-1">WE believe that the great gospel blessing, which Christ secures to such as believe in Him, is justification; that justification includes the pardon of sin and the promise of eternal life in principles of righteousness; that it is bestowed not in consideration of any works of righteousness which we have done, but solely through faith in the Redeemer’s blood, by virtue of which faith His perfect righteousness is freely imputed to us of God; that justification brings us into a state of most blessed peace and favor with God and secures every other blessing needful for time and eternity.</p>
              <small>John 1:16; Acts 13:39; Romans 5:9; Romans 4:4, 5; Romans5:1-2</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">6. The Freeness of Salvation</h5>
              </div>
              <p class="mb-1">WE believe that the blessings of salvation are made free to all by the Gospel; that it is the immediate duty of all to accept them by a cordial, penitent, and obedient faith; and that nothing prevents the salvation of the greatest sinner on earth but his own inherent depravity and voluntary rejection of the Gospel, which rejection involves him in an aggravated condemnation.</p>
              <small>Isaiah 55:1; Romans 16:25-26; John 5:40; John 3:19</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">7. Grace in Regeneration</h5>
              </div>
              <p class="mb-1">We believe that, in order to be saved, sinners must be regenerated or born again; that regeneration consists in giving a holy disposition to the mind; that it is effected in a manner above our comprehension by the power of the Holy Spirit, in connection with divine truth, so as to secure our voluntary obedience to the Gospel; that its proper evidence appears in the holy fruits of repentance, faith, and newness of life.</p>
              <small>John 3:3; II Corinthians 5:17; John 3:8; I Peter 1:22-25; Ephesians 5:9; Galatians 5:16-23</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">8. Repentance and Faith</h5>
              </div>
              <p class="mb-1">We believe that repentance and faith are sacred duties, and also inseparable graces, wrought in our souls by the regenerating Spirit of God, whereby being deeply convinced of our guilt, danger, and helplessness and of the way of salvation by Christ we turn to God with unfeigned contrition, confession, and supplication for mercy; and at the same time we heartily receive the Lord Jesus Christ as our Prophet, Priest, and King, and rely on Him alone as the only and all-sufficient Saviour.</p>
              <small>Mark 1:15; Acts 11:18; Ephesians 2:8; Acts 2:37-38; Romans 10:9-10</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">9. God's Purpose of Grace</h5>
              </div>
              <p class="mb-1">We believe that election is the eternal purpose of God, according to which He graciously regenerates, sanctifies, and saves sinners; that being perfectly consistent with the free agency of man, God's purpose comprehends all the means in connection with the end; that grace is a most glorious display of God's sovereign goodness, being infinitely free, wise, holy and unchangeable; that grace utterly excludes boasting and promotes humility, love, prayer, praise, trust in God, and active imitation of His free mercy; that it encourages the use of means in the highest degree, that it may be ascertained by its effects in all who truly believe the Gospel; that it is the foundation of Christian assurance; and that to ascertain it with regard to ourselves demands and deserves the utmost diligence.</p>
              <small>II Timothy 1:8-9; II Thessalonians 2:13-14; Exodus 33:18-19; II Timothy 2:10; II Peter 1:10-11</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">10. Sanctification</h5>
              </div>
              <p class="mb-1">We believe that sanctification is the process by which, according to the will of God, we are made partakers of His holiness; that it is a progressive work; that it is begun in regeneration; and that it is carried on in the hearts of believers by the presence and power of the Holy Spirit, the Sealer and Comforter, in the continual use of the appointed means - especially the Word of God, selfexamination, self-denial, watchfulness, and prayer.</p>
              <small>I Thessalonians 4:3; I John 2:29; Philippians 2:12-14; Romans 8:5</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">11. Assurance</h5>
              </div>
              <p class="mb-1">We believe in the eternal security of the believer.</p>
              <small>John 10:27-29; Romans 8:35-39; 1 John 5:13; John 3:36</small>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">12. Satan</h5>
              </div>
              <p class="mb-1">We believe in the reality and personality of satan.</p>
              <small>Job 1:6-7</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>