<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">LBC</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          (click)="isCollapsed = !isCollapsed"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['about', 'pastor']"
           routerLinkActive="active">Our Pastor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['about', 'faith']"
           routerLinkActive="active">Statment of Faith</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['get-in-touch']"
           routerLinkActive="active">Get in Touch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['sermon']"
           routerLinkActive="active">Sermons</a>
      </li>
    </ul>
    <span>
      <a href="tel:7075753132">707.575.3132 <i class="fa fa-mobile-alt ml-2" aria-hidden="true"></i></a>
    </span>
  </div>
</nav>
