<div class="container-fluid">
  <div class="row">
    <div class="col-sm p-0">
      <img src="//res.cloudinary.com/jacq/image/upload/c_fill,h_1262,w_3318/v1513304719/bible-job_d1owpp.jpg"
           class="img-fluid"alt="">
    </div>
  </div>
</div>
<div class="container p-5">
  <div class="row">
    <div class="col-sm">
      <h1>Pastor John Opferman</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs">
      <div class="card">
        <div class="card-body">
          <p>Pastor John Opferman was born and raised in Chicago, Illinois. He was raised in a Catholic home in south Chicago. At age 17 John joined the United States Air Force and spent the next 11 years in the military as a security policeman. At age 20, Pastor Opferman accepted Jesus Christ as his personal Savior through the witness of a fellow airman at Kincheloe Air Force Base in Michigan.</p>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-xs">
      <div class="card">
        <div class="card-body">
          <p>Pastor Opferman later met his wife, Ann Marie, at March Air Force Base in southern California. A few years later, Pastor Opferman surrendered his life to full time Christian service at Pastors' School in Hammond, Indiana, after hearing Dr. Curtis Hutson preach, "I Sought for a Man."</p>

          <p>In 1982, Pastor Opferman became the Pastor of the United Baptist Church of Iceland and started the first Independent Baptist Church in the country of Iceland near the Keflavik Naval Air Station. In 1985, Pastor Opferman attended Texas Baptist College and received his Bachelor's degree in Pastoral Theology. A year later he received his Master's degree also. Pastor Opferman became an instructor at Texas Baptist College for one year teaching Church Planting, Cultural Anthropology, and World Religion. In 1989, Pastor Opferman moved with his wife and five children, and one more on the way, to California. Today, all the Opferman children are still faithfully serving the Lord in various ministries throughout America.</p>
            
          <p>In April 1990, Pastor Opferman was called to be the pastor of the Landmark Baptist Church in Santa Rosa, California. Prior to Pastor Opferman's arrival, 12 other pastors attempted to start an Independent Baptist Church in Santa Rosa, and all left. The church was unable to support a pastor, so Pastor Opferman also took a full time job outside of the church to support his family. Pastor Opferman continues to win souls, pastor the church, preach at nursing homes, rescue missions and other outreach programs to the community.</p>
        </div>
      </div>
    </div>
  </div>
</div>