<div class="container-fluid">
  <div class="row">
    <div class="col-sm p-0">
      <img src="//res.cloudinary.com/jacq/image/upload/v1513227709/mountain-panorama-steeple-church-religion-161125_pdwfbc.jpg"
          class="img-fluid"alt="">
    </div>
  </div>
</div>
<div class="container p-5">
  <div class="row">
    <div class="col-sm">
      <h1>Landmark Baptist Church <small class="text-muted">Santa Rosa, California</small></h1>
      <h2>John Opferman, Pastor</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <p class="lead">Landmark Baptist Church was started in 1986 with a vision of reaching the Sonoma County area with the Gospel of our Lord Jesus Christ. Landmark Baptist Church believes the Great Commission is still the main mission of the Church. We are an Independent, Fundamental, Bible Believing and Preaching Church with a heart for reaching the lost for Christ. Not only do we have services at the local Church but also out-reach services to nursing homes, rescue missions, local soul winning, and many other activities. We would love for you to come and join us in serving the Lord.</p>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-7 col-xs">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">The Bible Way to Heaven</h4>
              <p>But more important than inviting you to attend our church, let me invite you to come to Christ and have the full assurance of a future home in heaven. The Bible teaches us there are four things we must realize and admit in order to know we have eternal life…</p>
              <ol>
                  <li><strong>Admit that I am a sinner.</strong> <br><br>“For all have sinned and come short of the glory of God.” -Romans 3:23. <br><br> Yes, I may not be the worst person in the world, but I have sinned against God.<br><br></li>
                  
                  <li><strong>Admit that I am lost.</strong> <br><br>“For the wages of sin is death…" -Romans 6:23. <br><br> God has placed only one payment for sin, and that is death. This is not speaking of the physical death, but an eternal one. <br><br> “...all liars, shall have their part in the lake which burneth with fire and brimstone: which is the second death.” -Revelation 21:8.<br><br></li>
                  
                  <li><strong>Admit that Jesus Christ died for me.</strong> <br><br>“But God commendeth his love toward us, in that while we were yet sinners, Christ died for us.” -Romans 5:8. <br><br>Jesus Christ did not die for anything that He did wrong, He was proven sinless. What Jesus suffered was in payment for our sins.<br><br></li>
                  
                  <li><strong>Admit Salvation is a free gift I must receive.</strong> <br><br>“...the gift of God is eternal life through Jesus Christ Out Lord.” -Romans 6:23.<br><br> Though we deserve death, God is willing to freely give us eternal life, but only through Jesus Christ, who died for us. Salvation is like any other gift which one must receive in order to possess it.<br><br></li>
              </ol>
              <p>To accept Jesus Christ as your Savior, right now put your faith in His death, burial, and resurrection, and say this prayer from your heart:</p>
              <p>"Dear Lord Jesus, I know that I have sinned against you, and I am trusting your death, burial, and resurrection for my salvation. Like the Bible says, I am calling on you to save me. I ask in Jesus’ name. Amen"</p>
              <p>“For whosoever shall call upon the name of the Lord shall be saved.” -Romans 10:13.</p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-xs">
          <div class="card">
            <div class="card-body">
              <ul>
                <li>Sunday School at 10:00 a.m.</li>
                <li>Sunday Ladies Bible Class at 10:00 a.m.</li>
                <li>Sunday Worship Service at 11:00 a.m.</li>
                <li>Sunday Evening Service at 6:00 p.m.</li>
                <li>Wednesday Bible Study at 7:00 p.m.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>